.serverless/meta.json
{
  "/home/ubuntu/pp-kitchen/serverless.yml": {
    "versionFramework": "4.39.0",
    "servicePath": "/home/ubuntu/pp-kitchen/serverless.yml",
    "serviceConfigFileName": "serverless.yml",
    "service": {
      "service": "pp-kitchen",
      "provider": {
        "name": "aws",
        "runtime": "python3.12",
        "region": "us-east-1",
        "iam": {
          "role": "arn:aws:iam::${aws:accountId}:role/LabRole"
        },
        "environment": {
          "TASKS_TABLE": "pp-tasks",
          "EVENT_BUS_NAME": "${ssm:/pp/eventBusName}"
        }
      },
      "plugins": [
        "serverless-step-functions"
      ],
      "custom": {
        "stateMachineName": "pp-kitchen-sm"
      },
      "functions": {
        "registrar": {
          "handler": "functions/registrar.handler"
        },
        "completar": {
          "handler": "functions/completar.handler",
          "events": [
            {
              "http": {
                "path": "tasks/completar",
                "method": "post",
                "cors": true
              }
            }
          ]
        },
        "listarPendientes": {
          "handler": "functions/listar_pendientes.handler",
          "events": [
            {
              "http": {
                "path": "tasks/pendientes",
                "method": "get",
                "cors": true
              }
            }
          ]
        },
        "emitirStepCompleted": {
          "handler": "functions/emitir_step_completed.handler"
        },
        "iniciarWorkflow": {
          "handler": "functions/iniciar_workflow.handler",
          "environment": {
            "STATE_MACHINE_ARN": {
              "Fn::Sub": "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:pp-kitchen-sm"
            }
          }
        }
      },
      "stepFunctions": {
        "stateMachines": {
          "kitchenWorkflow": {
            "name": "pp-kitchen-sm",
            "role": "arn:aws:iam::${aws:accountId}:role/LabRole",
            "definition": {
              "Comment": "pp-kitchen v3 — workflow enriquecido con Choice, Parallel, Wait, Retry, Catch",
              "StartAt": "ValidarPedido",
              "States": {
                "ValidarPedido": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.orderId",
                      "IsPresent": true,
                      "Next": "RegistrarRecepcion"
                    }
                  ],
                  "Default": "PedidoInvalido"
                },
                "PedidoInvalido": {
                  "Type": "Fail",
                  "Error": "PedidoInvalido",
                  "Cause": "El pedido no tiene orderId"
                },
                "RegistrarRecepcion": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": {
                      "Fn::GetAtt": [
                        "EmitirStepCompletedLambdaFunction",
                        "Arn"
                      ]
                    },
                    "Payload": {
                      "orderId.$": "$.orderId",
                      "tenantId.$": "$.tenantId",
                      "estado": "RECIBIDO"
                    }
                  },
                  "ResultPath": null,
                  "Retry": [
                    {
                      "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException"
                      ],
                      "IntervalSeconds": 2,
                      "MaxAttempts": 3,
                      "BackoffRate": 2
                    }
                  ],
                  "Catch": [
                    {
                      "ErrorEquals": [
                        "States.ALL"
                      ],
                      "Next": "ErrorGeneral",
                      "ResultPath": "$.error"
                    }
                  ],
                  "Next": "PreparacionParalela"
                },
                "PreparacionParalela": {
                  "Type": "Parallel",
                  "Branches": [
                    {
                      "StartAt": "NotificarCocina",
                      "States": {
                        "NotificarCocina": {
                          "Type": "Wait",
                          "Seconds": 2,
                          "Next": "CocinaLista"
                        },
                        "CocinaLista": {
                          "Type": "Pass",
                          "Result": {
                            "preparacion": "cocina_lista"
                          },
                          "End": true
                        }
                      }
                    },
                    {
                      "StartAt": "NotificarAlmacen",
                      "States": {
                        "NotificarAlmacen": {
                          "Type": "Wait",
                          "Seconds": 1,
                          "Next": "AlmacenListo"
                        },
                        "AlmacenListo": {
                          "Type": "Pass",
                          "Result": {
                            "preparacion": "almacen_listo"
                          },
                          "End": true
                        }
                      }
                    }
                  ],
                  "ResultPath": null,
                  "Next": "EN_COCINA"
                },
                "EN_COCINA": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
                  "Parameters": {
                    "FunctionName": {
                      "Fn::GetAtt": [
                        "RegistrarLambdaFunction",
                        "Arn"
                      ]
                    },
                    "Payload": {
                      "orderId.$": "$.orderId",
                      "tenantId.$": "$.tenantId",
                      "estado": "EN_COCINA",
                      "workerId.$": "$.workerId",
                      "taskToken.$": "<REDACTED>"
                    }
                  },
                  "ResultPath": null,
                  "Retry": [
                    {
                      "ErrorEquals": [
                        "Lambda.ServiceException"
                      ],
                      "IntervalSeconds": 2,
                      "MaxAttempts": 2,
                      "BackoffRate": 2
                    }
                  ],
                  "Catch": [
                    {
                      "ErrorEquals": [
                        "States.HeartbeatTimeout"
                      ],
                      "Next": "TimeoutCocina",
                      "ResultPath": "$.error"
                    },
                    {
                      "ErrorEquals": [
                        "States.ALL"
                      ],
                      "Next": "ErrorGeneral",
                      "ResultPath": "$.error"
                    }
                  ],
                  "HeartbeatSeconds": 3600,
                  "Next": "EmitirCocinaCompleta"
                },
                "TimeoutCocina": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": {
                      "Fn::GetAtt": [
                        "EmitirStepCompletedLambdaFunction",
                        "Arn"
                      ]
                    },
                    "Payload": {
                      "orderId.$": "$.orderId",
                      "tenantId.$": "$.tenantId",
                      "estado": "TIMEOUT_COCINA"
                    }
                  },
                  "ResultPath": null,
                  "Next": "EN_COCINA"
                },
                "EmitirCocinaCompleta": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": {
                      "Fn::GetAtt": [
                        "EmitirStepCompletedLambdaFunction",
                        "Arn"
                      ]
                    },
                    "Payload": {
                      "orderId.$": "$.orderId",
                      "tenantId.$": "$.tenantId",
                      "estado": "EN_COCINA"
                    }
                  },
                  "ResultPath": null,
                  "Retry": [
                    {
                      "ErrorEquals": [
                        "States.ALL"
                      ],
                      "IntervalSeconds": 2,
                      "MaxAttempts": 3,
                      "BackoffRate": 2
                    }
                  ],
                  "Catch": [
                    {
                      "ErrorEquals": [
                        "States.ALL"
                      ],
                      "Next": "ErrorGeneral",
                      "ResultPath": "$.error"
                    }
                  ],
                  "Next": "VerificarStockDespacho"
                },
                "VerificarStockDespacho": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.workerId",
                      "IsPresent": true,
                      "Next": "EN_DESPACHO"
                    }
                  ],
                  "Default": "AsignarWorkerDefault"
                },
                "AsignarWorkerDefault": {
                  "Type": "Pass",
                  "Result": {
                    "workerId": "worker-default"
                  },
                  "ResultPath": "$.workerAsignado",
                  "Next": "EN_DESPACHO"
                },
                "EN_DESPACHO": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
                  "Parameters": {
                    "FunctionName": {
                      "Fn::GetAtt": [
                        "RegistrarLambdaFunction",
                        "Arn"
                      ]
                    },
                    "Payload": {
                      "orderId.$": "$.orderId",
                      "tenantId.$": "$.tenantId",
                      "estado": "EN_DESPACHO",
                      "workerId.$": "$.workerId",
                      "taskToken.$": "<REDACTED>"
                    }
                  },
                  "ResultPath": null,
                  "Retry": [
                    {
                      "ErrorEquals": [
                        "Lambda.ServiceException"
                      ],
                      "IntervalSeconds": 2,
                      "MaxAttempts": 2,
                      "BackoffRate": 2
                    }
                  ],
                  "Catch": [
                    {
                      "ErrorEquals": [
                        "States.HeartbeatTimeout"
                      ],
                      "Next": "TimeoutDespacho",
                      "ResultPath": "$.error"
                    },
                    {
                      "ErrorEquals": [
                        "States.ALL"
                      ],
                      "Next": "ErrorGeneral",
                      "ResultPath": "$.error"
                    }
                  ],
                  "HeartbeatSeconds": 3600,
                  "Next": "EmitirDespachoCompleto"
                },
                "TimeoutDespacho": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": {
                      "Fn::GetAtt": [
                        "EmitirStepCompletedLambdaFunction",
                        "Arn"
                      ]
                    },
                    "Payload": {
                      "orderId.$": "$.orderId",
                      "tenantId.$": "$.tenantId",
                      "estado": "TIMEOUT_DESPACHO"
                    }
                  },
                  "ResultPath": null,
                  "Next": "EN_DESPACHO"
                },
                "EmitirDespachoCompleto": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": {
                      "Fn::GetAtt": [
                        "EmitirStepCompletedLambdaFunction",
                        "Arn"
                      ]
                    },
                    "Payload": {
                      "orderId.$": "$.orderId",
                      "tenantId.$": "$.tenantId",
                      "estado": "EN_DESPACHO"
                    }
                  },
                  "ResultPath": null,
                  "Retry": [
                    {
                      "ErrorEquals": [
                        "States.ALL"
                      ],
                      "IntervalSeconds": 2,
                      "MaxAttempts": 3,
                      "BackoffRate": 2
                    }
                  ],
                  "Catch": [
                    {
                      "ErrorEquals": [
                        "States.ALL"
                      ],
                      "Next": "ErrorGeneral",
                      "ResultPath": "$.error"
                    }
                  ],
                  "Next": "EN_REPARTO"
                },
                "EN_REPARTO": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
                  "Parameters": {
                    "FunctionName": {
                      "Fn::GetAtt": [
                        "RegistrarLambdaFunction",
                        "Arn"
                      ]
                    },
                    "Payload": {
                      "orderId.$": "$.orderId",
                      "tenantId.$": "$.tenantId",
                      "estado": "EN_REPARTO",
                      "workerId.$": "$.workerId",
                      "taskToken.$": "<REDACTED>"
                    }
                  },
                  "ResultPath": null,
                  "Retry": [
                    {
                      "ErrorEquals": [
                        "Lambda.ServiceException"
                      ],
                      "IntervalSeconds": 2,
                      "MaxAttempts": 2,
                      "BackoffRate": 2
                    }
                  ],
                  "Catch": [
                    {
                      "ErrorEquals": [
                        "States.HeartbeatTimeout"
                      ],
                      "Next": "TimeoutReparto",
                      "ResultPath": "$.error"
                    },
                    {
                      "ErrorEquals": [
                        "States.ALL"
                      ],
                      "Next": "ErrorGeneral",
                      "ResultPath": "$.error"
                    }
                  ],
                  "HeartbeatSeconds": 7200,
                  "Next": "EmitirRepartoCompleto"
                },
                "TimeoutReparto": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": {
                      "Fn::GetAtt": [
                        "EmitirStepCompletedLambdaFunction",
                        "Arn"
                      ]
                    },
                    "Payload": {
                      "orderId.$": "$.orderId",
                      "tenantId.$": "$.tenantId",
                      "estado": "TIMEOUT_REPARTO"
                    }
                  },
                  "ResultPath": null,
                  "Next": "EN_REPARTO"
                },
                "EmitirRepartoCompleto": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": {
                      "Fn::GetAtt": [
                        "EmitirStepCompletedLambdaFunction",
                        "Arn"
                      ]
                    },
                    "Payload": {
                      "orderId.$": "$.orderId",
                      "tenantId.$": "$.tenantId",
                      "estado": "EN_REPARTO"
                    }
                  },
                  "ResultPath": null,
                  "Next": "FinalizarEntrega"
                },
                "FinalizarEntrega": {
                  "Type": "Parallel",
                  "Branches": [
                    {
                      "StartAt": "RegistrarEntrega",
                      "States": {
                        "RegistrarEntrega": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::lambda:invoke",
                          "Parameters": {
                            "FunctionName": {
                              "Fn::GetAtt": [
                                "EmitirStepCompletedLambdaFunction",
                                "Arn"
                              ]
                            },
                            "Payload": {
                              "orderId.$": "$.orderId",
                              "tenantId.$": "$.tenantId",
                              "estado": "ENTREGADO"
                            }
                          },
                          "ResultPath": null,
                          "End": true
                        }
                      }
                    },
                    {
                      "StartAt": "EsperarConfirmacion",
                      "States": {
                        "EsperarConfirmacion": {
                          "Type": "Wait",
                          "Seconds": 3,
                          "Next": "EntregaConfirmada"
                        },
                        "EntregaConfirmada": {
                          "Type": "Pass",
                          "Result": {
                            "confirmacion": "ok"
                          },
                          "End": true
                        }
                      }
                    }
                  ],
                  "ResultPath": null,
                  "Next": "ENTREGADO"
                },
                "ENTREGADO": {
                  "Type": "Succeed"
                },
                "ErrorGeneral": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": {
                      "Fn::GetAtt": [
                        "EmitirStepCompletedLambdaFunction",
                        "Arn"
                      ]
                    },
                    "Payload": {
                      "orderId.$": "$.orderId",
                      "tenantId.$": "$.tenantId",
                      "estado": "ERROR"
                    }
                  },
                  "ResultPath": null,
                  "Next": "FalloCritico"
                },
                "FalloCritico": {
                  "Type": "Fail",
                  "Error": "ErrorCritico",
                  "Cause": "El workflow encontró un error irrecuperable"
                }
              }
            }
          }
        }
      },
      "resources": {
        "Resources": {
          "TasksTable": {
            "Type": "AWS::DynamoDB::Table",
            "Properties": {
              "TableName": "pp-tasks",
              "BillingMode": "PAY_PER_REQUEST",
              "AttributeDefinitions": [
                {
                  "AttributeName": "orderId",
                  "AttributeType": "S"
                },
                {
                  "AttributeName": "estado",
                  "AttributeType": "S"
                }
              ],
              "KeySchema": [
                {
                  "AttributeName": "orderId",
                  "KeyType": "HASH"
                },
                {
                  "AttributeName": "estado",
                  "KeyType": "RANGE"
                }
              ]
            }
          },
          "KitchenSMParam": {
            "Type": "AWS::SSM::Parameter",
            "Properties": {
              "Name": "/pp/kitchen-sm-arn",
              "Type": "String",
              "Value": {
                "Fn::Sub": "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:pp-kitchen-sm"
              }
            }
          },
          "OrderCreatedRule": {
            "Type": "AWS::Events::Rule",
            "Properties": {
              "Name": "pp-kitchen-order-created-rule",
              "EventBusName": "pp-bus",
              "EventPattern": {
                "source": [
                  "pp.orders"
                ],
                "detail-type": [
                  "order.created"
                ]
              },
              "State": "ENABLED",
              "Targets": [
                {
                  "Id": "IniciarWorkflowTarget",
                  "Arn": {
                    "Fn::GetAtt": [
                      "IniciarWorkflowLambdaFunction",
                      "Arn"
                    ]
                  }
                }
              ]
            }
          },
          "OrderCreatedRulePermission": {
            "Type": "AWS::Lambda::Permission",
            "Properties": {
              "FunctionName": {
                "Fn::GetAtt": [
                  "IniciarWorkflowLambdaFunction",
                  "Arn"
                ]
              },
              "Action": "lambda:InvokeFunction",
              "Principal": "events.amazonaws.com",
              "SourceArn": {
                "Fn::GetAtt": [
                  "OrderCreatedRule",
                  "Arn"
                ]
              }
            }
          }
        }
      }
    },
    "provider": {
      "name": "aws",
      "runtime": "python3.12",
      "region": "us-east-1",
      "iam": {
        "role": "arn:aws:iam::${aws:accountId}:role/LabRole"
      },
      "environment": {
        "TASKS_TABLE": "pp-tasks",
        "EVENT_BUS_NAME": "${ssm:/pp/eventBusName}"
      }
    },
    "dashboard": {
      "isEnabledForService": false,
      "requiredAuthentication": false,
      "orgFeaturesInUse": null,
      "orgObservabilityIntegrations": null,
      "serviceAppId": null,
      "serviceProvider": null,
      "instanceParameters": null
    },
    "error": {
      "message": "Failed to resolve variable 'accountId' with resolver 'ssm' and provider 'default-aws-credential-resolver': Error: AWS credentials appear to have expired. This is likely due to the use of temporary credentials (e.g. AWS SSO, AWS IAM STS). Original error from AWS: \"The security token included in the request is expired\"",
      "stack": "Error: Failed to resolve variable 'accountId' with resolver 'ssm' and provider 'default-aws-credential-resolver': Error: AWS credentials appear to have expired. This is likely due to the use of temporary credentials (e.g. AWS SSO, AWS IAM STS). Original error from AWS: \"The security token included in the request is expired\"\n    at #resolveKey (file:///home/ubuntu/.serverless/releases/4.39.0/package/dist/sf-core.js:1619:27449)\n    at process.processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at async _ResolverManager.resolve (file:///home/ubuntu/.serverless/releases/4.39.0/package/dist/sf-core.js:1619:33619)\n    at async #handlePlaceholderNode (file:///home/ubuntu/.serverless/releases/4.39.0/package/dist/sf-core.js:1619:32149)\n    at async file:///home/ubuntu/.serverless/releases/4.39.0/package/dist/sf-core.js:1619:29940\n    at async processNodeAndHandleCompletion (file:///home/ubuntu/.serverless/releases/4.39.0/package/dist/sf-core.js:1619:18247)",
      "code": "RESOLVER_RESOLVE_VARIABLE_ERROR"
    },
    "serviceRawFile": "service: pp-kitchen\n\nprovider:\n  name: aws\n  runtime: python3.12\n  region: us-east-1\n  iam:\n    role: arn:aws:iam::${aws:accountId}:role/LabRole\n  environment:\n    TASKS_TABLE: pp-tasks\n    EVENT_BUS_NAME: ${ssm:/pp/eventBusName}\n\nplugins:\n  - serverless-step-functions\n\ncustom:\n  stateMachineName: pp-kitchen-sm\n\nfunctions:\n\n  registrar:\n    handler: functions/registrar.handler\n\n  completar:\n    handler: functions/completar.handler\n    events:\n      - http:\n          path: tasks/completar\n          method: post\n          cors: true\n\n  listarPendientes:\n    handler: functions/listar_pendientes.handler\n    events:\n      - http:\n          path: tasks/pendientes\n          method: get\n          cors: true\n\n  emitirStepCompleted:\n    handler: functions/emitir_step_completed.handler\n\n  iniciarWorkflow:\n    handler: functions/iniciar_workflow.handler\n    environment:\n      STATE_MACHINE_ARN: !Sub \"arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:pp-kitchen-sm\"\n\nstepFunctions:\n  stateMachines:\n    kitchenWorkflow:\n      name: ${self:custom.stateMachineName}\n      role: arn:aws:iam::${aws:accountId}:role/LabRole\n      definition: ${file(./state-machine.asl.json)}\n\nresources:\n  Resources:\n\n    TasksTable:\n      Type: AWS::DynamoDB::Table\n      Properties:\n        TableName: pp-tasks\n        BillingMode: PAY_PER_REQUEST\n        AttributeDefinitions:\n          - AttributeName: orderId\n            AttributeType: S\n          - AttributeName: estado\n            AttributeType: S\n        KeySchema:\n          - AttributeName: orderId\n            KeyType: HASH\n          - AttributeName: estado\n            KeyType: RANGE\n\n    KitchenSMParam:\n      Type: AWS::SSM::Parameter\n      Properties:\n        Name: /pp/kitchen-sm-arn\n        Type: String\n        Value: !Sub \"arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:pp-kitchen-sm\"\n\n    OrderCreatedRule:\n      Type: AWS::Events::Rule\n      Properties:\n        Name: pp-kitchen-order-created-rule\n        EventBusName: pp-bus\n        EventPattern:\n          source:\n            - pp.orders\n          detail-type:\n            - order.created\n        State: ENABLED\n        Targets:\n          - Id: IniciarWorkflowTarget\n            Arn: !GetAtt IniciarWorkflowLambdaFunction.Arn\n\n    OrderCreatedRulePermission:\n      Type: AWS::Lambda::Permission\n      Properties:\n        FunctionName: !GetAtt IniciarWorkflowLambdaFunction.Arn\n        Action: lambda:InvokeFunction\n        Principal: events.amazonaws.com\n        SourceArn: !GetAtt OrderCreatedRule.Arn\n",
    "command": [
      "deploy"
    ],
    "options": {},
    "orgId": "38cf8bdc-f60a-47b2-b340-7b04117fb77c",
    "orgName": "ae00n",
    "userId": "jSHDhsSfPwqssWc5b6",
    "userName": "ae00n",
    "serviceProviderAwsCfStackId": "arn:aws:cloudformation:us-east-1:048311469334:stack/pp-kitchen-dev/964c3880-724a-11f1-8c7c-0affeb4db1af",
    "serviceProviderAwsCfStackCreated": "2026-06-27T17:06:50.139Z",
    "serviceProviderAwsCfStackUpdated": null,
    "serviceProviderAwsCfStackStatus": "CREATE_COMPLETE",
    "serviceProviderAwsCfStackOutputs": [
      {
        "OutputKey": "ListarPendientesLambdaFunctionQualifiedArn",
        "OutputValue": "arn:aws:lambda:us-east-1:048311469334:function:pp-kitchen-dev-listarPendientes:2",
        "Description": "Current Lambda function version",
        "ExportName": "sls-pp-kitchen-dev-ListarPendientesLambdaFunctionQualifiedArn"
      },
      {
        "OutputKey": "IniciarWorkflowLambdaFunctionQualifiedArn",
        "OutputValue": "arn:aws:lambda:us-east-1:048311469334:function:pp-kitchen-dev-iniciarWorkflow:2",
        "Description": "Current Lambda function version",
        "ExportName": "sls-pp-kitchen-dev-IniciarWorkflowLambdaFunctionQualifiedArn"
      },
      {
        "OutputKey": "PpDashkitchenDashsmArn",
        "OutputValue": "arn:aws:states:us-east-1:048311469334:stateMachine:pp-kitchen-sm",
        "Description": "Current StateMachine Arn",
        "ExportName": "sls-pp-kitchen-dev-PpDashkitchenDashsmArn"
      },
      {
        "OutputKey": "RegistrarLambdaFunctionQualifiedArn",
        "OutputValue": "arn:aws:lambda:us-east-1:048311469334:function:pp-kitchen-dev-registrar:2",
        "Description": "Current Lambda function version",
        "ExportName": "sls-pp-kitchen-dev-RegistrarLambdaFunctionQualifiedArn"
      },
      {
        "OutputKey": "CompletarLambdaFunctionQualifiedArn",
        "OutputValue": "arn:aws:lambda:us-east-1:048311469334:function:pp-kitchen-dev-completar:2",
        "Description": "Current Lambda function version",
        "ExportName": "sls-pp-kitchen-dev-CompletarLambdaFunctionQualifiedArn"
      },
      {
        "OutputKey": "EmitirStepCompletedLambdaFunctionQualifiedArn",
        "OutputValue": "arn:aws:lambda:us-east-1:048311469334:function:pp-kitchen-dev-emitirStepCompleted:2",
        "Description": "Current Lambda function version",
        "ExportName": "sls-pp-kitchen-dev-EmitirStepCompletedLambdaFunctionQualifiedArn"
      },
      {
        "OutputKey": "ServiceEndpoint",
        "OutputValue": "https://pnj41nhlek.execute-api.us-east-1.amazonaws.com/dev",
        "Description": "URL of the service endpoint",
        "ExportName": "sls-pp-kitchen-dev-ServiceEndpoint"
      },
      {
        "OutputKey": "ServerlessDeploymentBucketName",
        "OutputValue": "serverless-framework-deployments-us-east-1-3bc13628-a2f7",
        "ExportName": "sls-pp-kitchen-dev-ServerlessDeploymentBucketName"
      }
    ]
  }
}