.serverless/serverless-state.json
{
  "service": {
    "service": "pp-kitchen",
    "serviceObject": {
      "name": "pp-kitchen"
    },
    "provider": {
      "name": "aws",
      "runtime": "python3.12",
      "region": "us-east-1",
      "iam": {
        "role": "arn:aws:iam::048311469334:role/LabRole"
      },
      "environment": {
        "TASKS_TABLE": "pp-tasks",
        "EVENT_BUS_NAME": "pp-bus"
      },
      "stage": "dev",
      "versionFunctions": true,
      "compiledCloudFormationTemplate": {
        "AWSTemplateFormatVersion": "2010-09-09",
        "Description": "The AWS CloudFormation template for this Serverless application",
        "Resources": {
          "RegistrarLogGroup": {
            "Type": "AWS::Logs::LogGroup",
            "Properties": {
              "LogGroupName": "/aws/lambda/pp-kitchen-dev-registrar"
            }
          },
          "CompletarLogGroup": {
            "Type": "AWS::Logs::LogGroup",
            "Properties": {
              "LogGroupName": "/aws/lambda/pp-kitchen-dev-completar"
            }
          },
          "ListarPendientesLogGroup": {
            "Type": "AWS::Logs::LogGroup",
            "Properties": {
              "LogGroupName": "/aws/lambda/pp-kitchen-dev-listarPendientes"
            }
          },
          "EmitirStepCompletedLogGroup": {
            "Type": "AWS::Logs::LogGroup",
            "Properties": {
              "LogGroupName": "/aws/lambda/pp-kitchen-dev-emitirStepCompleted"
            }
          },
          "IniciarWorkflowLogGroup": {
            "Type": "AWS::Logs::LogGroup",
            "Properties": {
              "LogGroupName": "/aws/lambda/pp-kitchen-dev-iniciarWorkflow"
            }
          },
          "RegistrarLambdaFunction": {
            "Type": "AWS::Lambda::Function",
            "Properties": {
              "Code": {
                "S3Bucket": "serverless-framework-deployments-us-east-1-3bc13628-a2f7",
                "S3Key": "serverless/pp-kitchen/dev/1783622093614-2026-07-09T18:34:53.614Z/pp-kitchen.zip"
              },
              "Handler": "functions/registrar.handler",
              "Runtime": "python3.12",
              "FunctionName": "pp-kitchen-dev-registrar",
              "MemorySize": 1024,
              "Timeout": 6,
              "Environment": {
                "Variables": {
                  "TASKS_TABLE": "pp-tasks",
                  "EVENT_BUS_NAME": "pp-bus"
                }
              },
              "Role": "arn:aws:iam::048311469334:role/LabRole"
            },
            "DependsOn": [
              "RegistrarLogGroup"
            ]
          },
          "CompletarLambdaFunction": {
            "Type": "AWS::Lambda::Function",
            "Properties": {
              "Code": {
                "S3Bucket": "serverless-framework-deployments-us-east-1-3bc13628-a2f7",
                "S3Key": "serverless/pp-kitchen/dev/1783622093614-2026-07-09T18:34:53.614Z/pp-kitchen.zip"
              },
              "Handler": "functions/completar.handler",
              "Runtime": "python3.12",
              "FunctionName": "pp-kitchen-dev-completar",
              "MemorySize": 1024,
              "Timeout": 6,
              "Environment": {
                "Variables": {
                  "TASKS_TABLE": "pp-tasks",
                  "EVENT_BUS_NAME": "pp-bus"
                }
              },
              "Role": "arn:aws:iam::048311469334:role/LabRole"
            },
            "DependsOn": [
              "CompletarLogGroup"
            ]
          },
          "ListarPendientesLambdaFunction": {
            "Type": "AWS::Lambda::Function",
            "Properties": {
              "Code": {
                "S3Bucket": "serverless-framework-deployments-us-east-1-3bc13628-a2f7",
                "S3Key": "serverless/pp-kitchen/dev/1783622093614-2026-07-09T18:34:53.614Z/pp-kitchen.zip"
              },
              "Handler": "functions/listar_pendientes.handler",
              "Runtime": "python3.12",
              "FunctionName": "pp-kitchen-dev-listarPendientes",
              "MemorySize": 1024,
              "Timeout": 6,
              "Environment": {
                "Variables": {
                  "TASKS_TABLE": "pp-tasks",
                  "EVENT_BUS_NAME": "pp-bus"
                }
              },
              "Role": "arn:aws:iam::048311469334:role/LabRole"
            },
            "DependsOn": [
              "ListarPendientesLogGroup"
            ]
          },
          "EmitirStepCompletedLambdaFunction": {
            "Type": "AWS::Lambda::Function",
            "Properties": {
              "Code": {
                "S3Bucket": "serverless-framework-deployments-us-east-1-3bc13628-a2f7",
                "S3Key": "serverless/pp-kitchen/dev/1783622093614-2026-07-09T18:34:53.614Z/pp-kitchen.zip"
              },
              "Handler": "functions/emitir_step_completed.handler",
              "Runtime": "python3.12",
              "FunctionName": "pp-kitchen-dev-emitirStepCompleted",
              "MemorySize": 1024,
              "Timeout": 6,
              "Environment": {
                "Variables": {
                  "TASKS_TABLE": "pp-tasks",
                  "EVENT_BUS_NAME": "pp-bus"
                }
              },
              "Role": "arn:aws:iam::048311469334:role/LabRole"
            },
            "DependsOn": [
              "EmitirStepCompletedLogGroup"
            ]
          },
          "IniciarWorkflowLambdaFunction": {
            "Type": "AWS::Lambda::Function",
            "Properties": {
              "Code": {
                "S3Bucket": "serverless-framework-deployments-us-east-1-3bc13628-a2f7",
                "S3Key": "serverless/pp-kitchen/dev/1783622093614-2026-07-09T18:34:53.614Z/pp-kitchen.zip"
              },
              "Handler": "functions/iniciar_workflow.handler",
              "Runtime": "python3.12",
              "FunctionName": "pp-kitchen-dev-iniciarWorkflow",
              "MemorySize": 1024,
              "Timeout": 6,
              "Environment": {
                "Variables": {
                  "TASKS_TABLE": "pp-tasks",
                  "EVENT_BUS_NAME": "pp-bus",
                  "STATE_MACHINE_ARN": {
                    "Fn::Sub": "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:pp-kitchen-sm"
                  }
                }
              },
              "Role": "arn:aws:iam::048311469334:role/LabRole"
            },
            "DependsOn": [
              "IniciarWorkflowLogGroup"
            ]
          },
          "RegistrarLambdaVersionXOH6uqb1eouZY7t2KroDSQOLQpOJTlPKFyfo0AJK0": {
            "Type": "AWS::Lambda::Version",
            "DeletionPolicy": "Retain",
            "Properties": {
              "FunctionName": {
                "Ref": "RegistrarLambdaFunction"
              },
              "CodeSha256": "z3Hz2kp+GTr7bCtq3eyDzzKYAxBJD8+MaMq9YIg9vuw="
            }
          },
          "CompletarLambdaVersionmgcfpUizG70Y313567fMvRRa6fw6jHKbjL3wTGlZmPE": {
            "Type": "AWS::Lambda::Version",
            "DeletionPolicy": "Retain",
            "Properties": {
              "FunctionName": {
                "Ref": "CompletarLambdaFunction"
              },
              "CodeSha256": "z3Hz2kp+GTr7bCtq3eyDzzKYAxBJD8+MaMq9YIg9vuw="
            }
          },
          "ListarPendientesLambdaVersionctioJh8blDN71WfN5OEs1s3bUWxgb1wsyeEVR8S0soY": {
            "Type": "AWS::Lambda::Version",
            "DeletionPolicy": "Retain",
            "Properties": {
              "FunctionName": {
                "Ref": "ListarPendientesLambdaFunction"
              },
              "CodeSha256": "z3Hz2kp+GTr7bCtq3eyDzzKYAxBJD8+MaMq9YIg9vuw="
            }
          },
          "EmitirStepCompletedLambdaVersionBnsq6xJl2qZbm8nbZaMxq8eIvTgE6BxnrMus8GAZls": {
            "Type": "AWS::Lambda::Version",
            "DeletionPolicy": "Retain",
            "Properties": {
              "FunctionName": {
                "Ref": "EmitirStepCompletedLambdaFunction"
              },
              "CodeSha256": "z3Hz2kp+GTr7bCtq3eyDzzKYAxBJD8+MaMq9YIg9vuw="
            }
          },
          "IniciarWorkflowLambdaVersionb7RbrIUX0tFMRTvDDVxVJcufK0war3ngTxF8mxbbU": {
            "Type": "AWS::Lambda::Version",
            "DeletionPolicy": "Retain",
            "Properties": {
              "FunctionName": {
                "Ref": "IniciarWorkflowLambdaFunction"
              },
              "CodeSha256": "z3Hz2kp+GTr7bCtq3eyDzzKYAxBJD8+MaMq9YIg9vuw="
            }
          },
          "PpDashkitchenDashsm": {
            "Type": "AWS::StepFunctions::StateMachine",
            "Properties": {
              "DefinitionString": {
                "Fn::Sub": [
                  "{\n  \"Comment\": \"pp-kitchen v3 — workflow enriquecido con Choice, Parallel, Wait, Retry, Catch\",\n  \"StartAt\": \"ValidarPedido\",\n  \"States\": {\n    \"ValidarPedido\": {\n      \"Type\": \"Choice\",\n      \"Choices\": [\n        {\n          \"Variable\": \"$.orderId\",\n          \"IsPresent\": true,\n          \"Next\": \"RegistrarRecepcion\"\n        }\n      ],\n      \"Default\": \"PedidoInvalido\"\n    },\n    \"PedidoInvalido\": {\n      \"Type\": \"Fail\",\n      \"Error\": \"PedidoInvalido\",\n      \"Cause\": \"El pedido no tiene orderId\"\n    },\n    \"RegistrarRecepcion\": {\n      \"Type\": \"Task\",\n      \"Resource\": \"arn:aws:states:::lambda:invoke\",\n      \"Parameters\": {\n        \"FunctionName\": \"${e2a6470b743c3ecee83b984ab90412c9}\",\n        \"Payload\": {\n          \"orderId.$\": \"$.orderId\",\n          \"tenantId.$\": \"$.tenantId\",\n          \"estado\": \"RECIBIDO\"\n        }\n      },\n      \"Retry\": [\n        {\n          \"ErrorEquals\": [\n            \"Lambda.ServiceException\",\n            \"Lambda.AWSLambdaException\"\n          ],\n          \"IntervalSeconds\": 2,\n          \"MaxAttempts\": 3,\n          \"BackoffRate\": 2\n        }\n      ],\n      \"Catch\": [\n        {\n          \"ErrorEquals\": [\n            \"States.ALL\"\n          ],\n          \"Next\": \"ErrorGeneral\",\n          \"ResultPath\": \"$.error\"\n        }\n      ],\n      \"Next\": \"PreparacionParalela\",\n      \"ResultPath\": null\n    },\n    \"PreparacionParalela\": {\n      \"Type\": \"Parallel\",\n      \"Branches\": [\n        {\n          \"StartAt\": \"NotificarCocina\",\n          \"States\": {\n            \"NotificarCocina\": {\n              \"Type\": \"Wait\",\n              \"Seconds\": 2,\n              \"Next\": \"CocinaLista\"\n            },\n            \"CocinaLista\": {\n              \"Type\": \"Pass\",\n              \"Result\": {\n                \"preparacion\": \"cocina_lista\"\n              },\n              \"End\": true\n            }\n          }\n        },\n        {\n          \"StartAt\": \"NotificarAlmacen\",\n          \"States\": {\n            \"NotificarAlmacen\": {\n              \"Type\": \"Wait\",\n              \"Seconds\": 1,\n              \"Next\": \"AlmacenListo\"\n            },\n            \"AlmacenListo\": {\n              \"Type\": \"Pass\",\n              \"Result\": {\n                \"preparacion\": \"almacen_listo\"\n              },\n              \"End\": true\n            }\n          }\n        }\n      ],\n      \"Next\": \"EN_COCINA\",\n      \"ResultPath\": null\n    },\n    \"EN_COCINA\": {\n      \"Type\": \"Task\",\n      \"Resource\": \"arn:aws:states:::lambda:invoke.waitForTaskToken\",\n      \"Parameters\": {\n        \"FunctionName\": \"${d017b02987a60784aa244e16617956a7}\",\n        \"Payload\": {\n          \"orderId.$\": \"$.orderId\",\n          \"tenantId.$\": \"$.tenantId\",\n          \"estado\": \"EN_COCINA\",\n          \"workerId.$\": \"$.workerId\",\n          \"taskToken.$\": \"$$.Task.Token\"\n        }\n      },\n      \"Retry\": [\n        {\n          \"ErrorEquals\": [\n            \"Lambda.ServiceException\"\n          ],\n          \"IntervalSeconds\": 2,\n          \"MaxAttempts\": 2,\n          \"BackoffRate\": 2\n        }\n      ],\n      \"Catch\": [\n        {\n          \"ErrorEquals\": [\n            \"States.HeartbeatTimeout\"\n          ],\n          \"Next\": \"TimeoutCocina\",\n          \"ResultPath\": \"$.error\"\n        },\n        {\n          \"ErrorEquals\": [\n            \"States.ALL\"\n          ],\n          \"Next\": \"ErrorGeneral\",\n          \"ResultPath\": \"$.error\"\n        }\n      ],\n      \"HeartbeatSeconds\": 3600,\n      \"Next\": \"EmitirCocinaCompleta\",\n      \"ResultPath\": null\n    },\n    \"TimeoutCocina\": {\n      \"Type\": \"Task\",\n      \"Resource\": \"arn:aws:states:::lambda:invoke\",\n      \"Parameters\": {\n        \"FunctionName\": \"${e2a6470b743c3ecee83b984ab90412c9}\",\n        \"Payload\": {\n          \"orderId.$\": \"$.orderId\",\n          \"tenantId.$\": \"$.tenantId\",\n          \"estado\": \"TIMEOUT_COCINA\"\n        }\n      },\n      \"Next\": \"EN_COCINA\",\n      \"ResultPath\": null\n    },\n    \"EmitirCocinaCompleta\": {\n      \"Type\": \"Task\",\n      \"Resource\": \"arn:aws:states:::lambda:invoke\",\n      \"Parameters\": {\n        \"FunctionName\": \"${e2a6470b743c3ecee83b984ab90412c9}\",\n        \"Payload\": {\n          \"orderId.$\": \"$.orderId\",\n          \"tenantId.$\": \"$.tenantId\",\n          \"estado\": \"EN_COCINA\"\n        }\n      },\n      \"Retry\": [\n        {\n          \"ErrorEquals\": [\n            \"States.ALL\"\n          ],\n          \"IntervalSeconds\": 2,\n          \"MaxAttempts\": 3,\n          \"BackoffRate\": 2\n        }\n      ],\n      \"Catch\": [\n        {\n          \"ErrorEquals\": [\n            \"States.ALL\"\n          ],\n          \"Next\": \"ErrorGeneral\",\n          \"ResultPath\": \"$.error\"\n        }\n      ],\n      \"Next\": \"VerificarStockDespacho\",\n      \"ResultPath\": null\n    },\n    \"VerificarStockDespacho\": {\n      \"Type\": \"Choice\",\n      \"Choices\": [\n        {\n          \"Variable\": \"$.workerId\",\n          \"IsPresent\": true,\n          \"Next\": \"EN_DESPACHO\"\n        }\n      ],\n      \"Default\": \"AsignarWorkerDefault\"\n    },\n    \"AsignarWorkerDefault\": {\n      \"Type\": \"Pass\",\n      \"Result\": {\n        \"workerId\": \"worker-default\"\n      },\n      \"ResultPath\": \"$.workerAsignado\",\n      \"Next\": \"EN_DESPACHO\"\n    },\n    \"EN_DESPACHO\": {\n      \"Type\": \"Task\",\n      \"Resource\": \"arn:aws:states:::lambda:invoke.waitForTaskToken\",\n      \"Parameters\": {\n        \"FunctionName\": \"${d017b02987a60784aa244e16617956a7}\",\n        \"Payload\": {\n          \"orderId.$\": \"$.orderId\",\n          \"tenantId.$\": \"$.tenantId\",\n          \"estado\": \"EN_DESPACHO\",\n          \"workerId.$\": \"$.workerId\",\n          \"taskToken.$\": \"$$.Task.Token\"\n        }\n      },\n      \"Retry\": [\n        {\n          \"ErrorEquals\": [\n            \"Lambda.ServiceException\"\n          ],\n          \"IntervalSeconds\": 2,\n          \"MaxAttempts\": 2,\n          \"BackoffRate\": 2\n        }\n      ],\n      \"Catch\": [\n        {\n          \"ErrorEquals\": [\n            \"States.HeartbeatTimeout\"\n          ],\n          \"Next\": \"TimeoutDespacho\",\n          \"ResultPath\": \"$.error\"\n        },\n        {\n          \"ErrorEquals\": [\n            \"States.ALL\"\n          ],\n          \"Next\": \"ErrorGeneral\",\n          \"ResultPath\": \"$.error\"\n        }\n      ],\n      \"HeartbeatSeconds\": 3600,\n      \"Next\": \"EmitirDespachoCompleto\",\n      \"ResultPath\": null\n    },\n    \"TimeoutDespacho\": {\n      \"Type\": \"Task\",\n      \"Resource\": \"arn:aws:states:::lambda:invoke\",\n      \"Parameters\": {\n        \"FunctionName\": \"${e2a6470b743c3ecee83b984ab90412c9}\",\n        \"Payload\": {\n          \"orderId.$\": \"$.orderId\",\n          \"tenantId.$\": \"$.tenantId\",\n          \"estado\": \"TIMEOUT_DESPACHO\"\n        }\n      },\n      \"Next\": \"EN_DESPACHO\",\n      \"ResultPath\": null\n    },\n    \"EmitirDespachoCompleto\": {\n      \"Type\": \"Task\",\n      \"Resource\": \"arn:aws:states:::lambda:invoke\",\n      \"Parameters\": {\n        \"FunctionName\": \"${e2a6470b743c3ecee83b984ab90412c9}\",\n        \"Payload\": {\n          \"orderId.$\": \"$.orderId\",\n          \"tenantId.$\": \"$.tenantId\",\n          \"estado\": \"EN_DESPACHO\"\n        }\n      },\n      \"Retry\": [\n        {\n          \"ErrorEquals\": [\n            \"States.ALL\"\n          ],\n          \"IntervalSeconds\": 2,\n          \"MaxAttempts\": 3,\n          \"BackoffRate\": 2\n        }\n      ],\n      \"Catch\": [\n        {\n          \"ErrorEquals\": [\n            \"States.ALL\"\n          ],\n          \"Next\": \"ErrorGeneral\",\n          \"ResultPath\": \"$.error\"\n        }\n      ],\n      \"Next\": \"EN_REPARTO\",\n      \"ResultPath\": null\n    },\n    \"EN_REPARTO\": {\n      \"Type\": \"Task\",\n      \"Resource\": \"arn:aws:states:::lambda:invoke.waitForTaskToken\",\n      \"Parameters\": {\n        \"FunctionName\": \"${d017b02987a60784aa244e16617956a7}\",\n        \"Payload\": {\n          \"orderId.$\": \"$.orderId\",\n          \"tenantId.$\": \"$.tenantId\",\n          \"estado\": \"EN_REPARTO\",\n          \"workerId.$\": \"$.workerId\",\n          \"taskToken.$\": \"$$.Task.Token\"\n        }\n      },\n      \"Retry\": [\n        {\n          \"ErrorEquals\": [\n            \"Lambda.ServiceException\"\n          ],\n          \"IntervalSeconds\": 2,\n          \"MaxAttempts\": 2,\n          \"BackoffRate\": 2\n        }\n      ],\n      \"Catch\": [\n        {\n          \"ErrorEquals\": [\n            \"States.HeartbeatTimeout\"\n          ],\n          \"Next\": \"TimeoutReparto\",\n          \"ResultPath\": \"$.error\"\n        },\n        {\n          \"ErrorEquals\": [\n            \"States.ALL\"\n          ],\n          \"Next\": \"ErrorGeneral\",\n          \"ResultPath\": \"$.error\"\n        }\n      ],\n      \"HeartbeatSeconds\": 7200,\n      \"Next\": \"EmitirRepartoCompleto\",\n      \"ResultPath\": null\n    },\n    \"TimeoutReparto\": {\n      \"Type\": \"Task\",\n      \"Resource\": \"arn:aws:states:::lambda:invoke\",\n      \"Parameters\": {\n        \"FunctionName\": \"${e2a6470b743c3ecee83b984ab90412c9}\",\n        \"Payload\": {\n          \"orderId.$\": \"$.orderId\",\n          \"tenantId.$\": \"$.tenantId\",\n          \"estado\": \"TIMEOUT_REPARTO\"\n        }\n      },\n      \"Next\": \"EN_REPARTO\",\n      \"ResultPath\": null\n    },\n    \"EmitirRepartoCompleto\": {\n      \"Type\": \"Task\",\n      \"Resource\": \"arn:aws:states:::lambda:invoke\",\n      \"Parameters\": {\n        \"FunctionName\": \"${e2a6470b743c3ecee83b984ab90412c9}\",\n        \"Payload\": {\n          \"orderId.$\": \"$.orderId\",\n          \"tenantId.$\": \"$.tenantId\",\n          \"estado\": \"EN_REPARTO\"\n        }\n      },\n      \"Next\": \"FinalizarEntrega\",\n      \"ResultPath\": null\n    },\n    \"FinalizarEntrega\": {\n      \"Type\": \"Parallel\",\n      \"Branches\": [\n        {\n          \"StartAt\": \"RegistrarEntrega\",\n          \"States\": {\n            \"RegistrarEntrega\": {\n              \"Type\": \"Task\",\n              \"Resource\": \"arn:aws:states:::lambda:invoke\",\n              \"Parameters\": {\n                \"FunctionName\": \"${e2a6470b743c3ecee83b984ab90412c9}\",\n                \"Payload\": {\n                  \"orderId.$\": \"$.orderId\",\n                  \"tenantId.$\": \"$.tenantId\",\n                  \"estado\": \"ENTREGADO\"\n                }\n              },\n              \"End\": true,\n              \"ResultPath\": null\n            }\n          }\n        },\n        {\n          \"StartAt\": \"EsperarConfirmacion\",\n          \"States\": {\n            \"EsperarConfirmacion\": {\n              \"Type\": \"Wait\",\n              \"Seconds\": 3,\n              \"Next\": \"EntregaConfirmada\"\n            },\n            \"EntregaConfirmada\": {\n              \"Type\": \"Pass\",\n              \"Result\": {\n                \"confirmacion\": \"ok\"\n              },\n              \"End\": true\n            }\n          }\n        }\n      ],\n      \"Next\": \"ENTREGADO\",\n      \"ResultPath\": null\n    },\n    \"ENTREGADO\": {\n      \"Type\": \"Succeed\"\n    },\n    \"ErrorGeneral\": {\n      \"Type\": \"Task\",\n      \"Resource\": \"arn:aws:states:::lambda:invoke\",\n      \"Parameters\": {\n        \"FunctionName\": \"${e2a6470b743c3ecee83b984ab90412c9}\",\n        \"Payload\": {\n          \"orderId.$\": \"$.orderId\",\n          \"tenantId.$\": \"$.tenantId\",\n          \"estado\": \"ERROR\"\n        }\n      },\n      \"Next\": \"FalloCritico\",\n      \"ResultPath\": null\n    },\n    \"FalloCritico\": {\n      \"Type\": \"Fail\",\n      \"Error\": \"ErrorCritico\",\n      \"Cause\": \"El workflow encontró un error irrecuperable\"\n    }\n  }\n}",
                  {
                    "e2a6470b743c3ecee83b984ab90412c9": {
                      "Fn::GetAtt": [
                        "EmitirStepCompletedLambdaFunction",
                        "Arn"
                      ]
                    },
                    "d017b02987a60784aa244e16617956a7": {
                      "Fn::GetAtt": [
                        "RegistrarLambdaFunction",
                        "Arn"
                      ]
                    }
                  }
                ]
              },
              "RoleArn": "arn:aws:iam::048311469334:role/LabRole",
              "StateMachineName": "pp-kitchen-sm"
            },
            "DependsOn": []
          },
          "ApiGatewayRestApi": {
            "Type": "AWS::ApiGateway::RestApi",
            "Properties": {
              "Name": "dev-pp-kitchen",
              "EndpointConfiguration": {
                "Types": [
                  "EDGE"
                ]
              },
              "Policy": ""
            }
          },
          "ApiGatewayResourceTasks": {
            "Type": "AWS::ApiGateway::Resource",
            "Properties": {
              "ParentId": {
                "Fn::GetAtt": [
                  "ApiGatewayRestApi",
                  "RootResourceId"
                ]
              },
              "PathPart": "tasks",
              "RestApiId": {
                "Ref": "ApiGatewayRestApi"
              }
            }
          },
          "ApiGatewayResourceTasksCompletar": {
            "Type": "AWS::ApiGateway::Resource",
            "Properties": {
              "ParentId": {
                "Ref": "ApiGatewayResourceTasks"
              },
              "PathPart": "completar",
              "RestApiId": {
                "Ref": "ApiGatewayRestApi"
              }
            }
          },
          "ApiGatewayResourceTasksPendientes": {
            "Type": "AWS::ApiGateway::Resource",
            "Properties": {
              "ParentId": {
                "Ref": "ApiGatewayResourceTasks"
              },
              "PathPart": "pendientes",
              "RestApiId": {
                "Ref": "ApiGatewayRestApi"
              }
            }
          },
          "ApiGatewayMethodTasksCompletarOptions": {
            "Type": "AWS::ApiGateway::Method",
            "Properties": {
              "AuthorizationType": "NONE",
              "HttpMethod": "OPTIONS",
              "MethodResponses": [
                {
                  "StatusCode": "200",
                  "ResponseParameters": {
                    "method.response.header.Access-Control-Allow-Origin": true,
                    "method.response.header.Access-Control-Allow-Headers": true,
                    "method.response.header.Access-Control-Allow-Methods": true
                  },
                  "ResponseModels": {}
                }
              ],
              "RequestParameters": {},
              "Integration": {
                "Type": "MOCK",
                "RequestTemplates": {
                  "application/json": "{statusCode:200}"
                },
                "ContentHandling": "CONVERT_TO_TEXT",
                "IntegrationResponses": [
                  {
                    "StatusCode": "200",
                    "ResponseParameters": {
                      "method.response.header.Access-Control-Allow-Origin": "'*'",
                      "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token,X-Amz-User-Agent,X-Amzn-Trace-Id'",
                      "method.response.header.Access-Control-Allow-Methods": "'OPTIONS,POST'"
                    },
                    "ResponseTemplates": {
                      "application/json": ""
                    }
                  }
                ]
              },
              "ResourceId": {
                "Ref": "ApiGatewayResourceTasksCompletar"
              },
              "RestApiId": {
                "Ref": "ApiGatewayRestApi"
              }
            }
          },
          "ApiGatewayMethodTasksPendientesOptions": {
            "Type": "AWS::ApiGateway::Method",
            "Properties": {
              "AuthorizationType": "NONE",
              "HttpMethod": "OPTIONS",
              "MethodResponses": [
                {
                  "StatusCode": "200",
                  "ResponseParameters": {
                    "method.response.header.Access-Control-Allow-Origin": true,
                    "method.response.header.Access-Control-Allow-Headers": true,
                    "method.response.header.Access-Control-Allow-Methods": true
                  },
                  "ResponseModels": {}
                }
              ],
              "RequestParameters": {},
              "Integration": {
                "Type": "MOCK",
                "RequestTemplates": {
                  "application/json": "{statusCode:200}"
                },
                "ContentHandling": "CONVERT_TO_TEXT",
                "IntegrationResponses": [
                  {
                    "StatusCode": "200",
                    "ResponseParameters": {
                      "method.response.header.Access-Control-Allow-Origin": "'*'",
                      "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token,X-Amz-User-Agent,X-Amzn-Trace-Id'",
                      "method.response.header.Access-Control-Allow-Methods": "'OPTIONS,GET'"
                    },
                    "ResponseTemplates": {
                      "application/json": ""
                    }
                  }
                ]
              },
              "ResourceId": {
                "Ref": "ApiGatewayResourceTasksPendientes"
              },
              "RestApiId": {
                "Ref": "ApiGatewayRestApi"
              }
            }
          },
          "ApiGatewayMethodTasksCompletarPost": {
            "Type": "AWS::ApiGateway::Method",
            "Properties": {
              "HttpMethod": "POST",
              "RequestParameters": {},
              "ResourceId": {
                "Ref": "ApiGatewayResourceTasksCompletar"
              },
              "RestApiId": {
                "Ref": "ApiGatewayRestApi"
              },
              "ApiKeyRequired": false,
              "AuthorizationType": "NONE",
              "Integration": {
                "IntegrationHttpMethod": "POST",
                "Type": "AWS_PROXY",
                "Uri": {
                  "Fn::Join": [
                    "",
                    [
                      "arn:",
                      {
                        "Ref": "AWS::Partition"
                      },
                      ":apigateway:",
                      {
                        "Ref": "AWS::Region"
                      },
                      ":lambda:path/2015-03-31/functions/",
                      {
                        "Fn::GetAtt": [
                          "CompletarLambdaFunction",
                          "Arn"
                        ]
                      },
                      "/invocations"
                    ]
                  ]
                }
              },
              "MethodResponses": []
            },
            "DependsOn": [
              "CompletarLambdaPermissionApiGateway"
            ]
          },
          "ApiGatewayMethodTasksPendientesGet": {
            "Type": "AWS::ApiGateway::Method",
            "Properties": {
              "HttpMethod": "GET",
              "RequestParameters": {},
              "ResourceId": {
                "Ref": "ApiGatewayResourceTasksPendientes"
              },
              "RestApiId": {
                "Ref": "ApiGatewayRestApi"
              },
              "ApiKeyRequired": false,
              "AuthorizationType": "NONE",
              "Integration": {
                "IntegrationHttpMethod": "POST",
                "Type": "AWS_PROXY",
                "Uri": {
                  "Fn::Join": [
                    "",
                    [
                      "arn:",
                      {
                        "Ref": "AWS::Partition"
                      },
                      ":apigateway:",
                      {
                        "Ref": "AWS::Region"
                      },
                      ":lambda:path/2015-03-31/functions/",
                      {
                        "Fn::GetAtt": [
                          "ListarPendientesLambdaFunction",
                          "Arn"
                        ]
                      },
                      "/invocations"
                    ]
                  ]
                }
              },
              "MethodResponses": []
            },
            "DependsOn": [
              "ListarPendientesLambdaPermissionApiGateway"
            ]
          },
          "ApiGatewayDeployment1783622079134": {
            "Type": "AWS::ApiGateway::Deployment",
            "Properties": {
              "RestApiId": {
                "Ref": "ApiGatewayRestApi"
              },
              "StageName": "dev"
            },
            "DependsOn": [
              "ApiGatewayMethodTasksCompletarOptions",
              "ApiGatewayMethodTasksPendientesOptions",
              "ApiGatewayMethodTasksCompletarPost",
              "ApiGatewayMethodTasksPendientesGet"
            ]
          },
          "CompletarLambdaPermissionApiGateway": {
            "Type": "AWS::Lambda::Permission",
            "Properties": {
              "FunctionName": {
                "Fn::GetAtt": [
                  "CompletarLambdaFunction",
                  "Arn"
                ]
              },
              "Action": "lambda:InvokeFunction",
              "Principal": "apigateway.amazonaws.com",
              "SourceArn": {
                "Fn::Join": [
                  "",
                  [
                    "arn:",
                    {
                      "Ref": "AWS::Partition"
                    },
                    ":execute-api:",
                    {
                      "Ref": "AWS::Region"
                    },
                    ":",
                    {
                      "Ref": "AWS::AccountId"
                    },
                    ":",
                    {
                      "Ref": "ApiGatewayRestApi"
                    },
                    "/*/*"
                  ]
                ]
              }
            }
          },
          "ListarPendientesLambdaPermissionApiGateway": {
            "Type": "AWS::Lambda::Permission",
            "Properties": {
              "FunctionName": {
                "Fn::GetAtt": [
                  "ListarPendientesLambdaFunction",
                  "Arn"
                ]
              },
              "Action": "lambda:InvokeFunction",
              "Principal": "apigateway.amazonaws.com",
              "SourceArn": {
                "Fn::Join": [
                  "",
                  [
                    "arn:",
                    {
                      "Ref": "AWS::Partition"
                    },
                    ":execute-api:",
                    {
                      "Ref": "AWS::Region"
                    },
                    ":",
                    {
                      "Ref": "AWS::AccountId"
                    },
                    ":",
                    {
                      "Ref": "ApiGatewayRestApi"
                    },
                    "/*/*"
                  ]
                ]
              }
            }
          },
          "TasksTable": {
            "Type": "AWS::DynamoDB::Table",
            "Properties": {
              "TableName": "pp-tasks",
              "BillingMode": "PAY_PER_REQUEST",
              "AttributeDefinitions": [
                {
                  "AttributeName": "orderId",
                  "AttributeType": "S"
                },
                {
                  "AttributeName": "estado",
                  "AttributeType": "S"
                }
              ],
              "KeySchema": [
                {
                  "AttributeName": "orderId",
                  "KeyType": "HASH"
                },
                {
                  "AttributeName": "estado",
                  "KeyType": "RANGE"
                }
              ]
            }
          },
          "KitchenSMParam": {
            "Type": "AWS::SSM::Parameter",
            "Properties": {
              "Name": "/pp/kitchen-sm-arn",
              "Type": "String",
              "Value": {
                "Fn::Sub": "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:pp-kitchen-sm"
              }
            }
          },
          "OrderCreatedRule": {
            "Type": "AWS::Events::Rule",
            "Properties": {
              "Name": "pp-kitchen-order-created-rule",
              "EventBusName": "pp-bus",
              "EventPattern": {
                "source": [
                  "pp.orders"
                ],
                "detail-type": [
                  "order.created"
                ]
              },
              "State": "ENABLED",
              "Targets": [
                {
                  "Id": "IniciarWorkflowTarget",
                  "Arn": {
                    "Fn::GetAtt": [
                      "IniciarWorkflowLambdaFunction",
                      "Arn"
                    ]
                  }
                }
              ]
            }
          },
          "OrderCreatedRulePermission": {
            "Type": "AWS::Lambda::Permission",
            "Properties": {
              "FunctionName": {
                "Fn::GetAtt": [
                  "IniciarWorkflowLambdaFunction",
                  "Arn"
                ]
              },
              "Action": "lambda:InvokeFunction",
              "Principal": "events.amazonaws.com",
              "SourceArn": {
                "Fn::GetAtt": [
                  "OrderCreatedRule",
                  "Arn"
                ]
              }
            }
          }
        },
        "Outputs": {
          "ServerlessDeploymentBucketName": {
            "Value": "serverless-framework-deployments-us-east-1-3bc13628-a2f7",
            "Export": {
              "Name": "sls-pp-kitchen-dev-ServerlessDeploymentBucketName"
            }
          },
          "RegistrarLambdaFunctionQualifiedArn": {
            "Description": "Current Lambda function version",
            "Value": {
              "Ref": "RegistrarLambdaVersionXOH6uqb1eouZY7t2KroDSQOLQpOJTlPKFyfo0AJK0"
            },
            "Export": {
              "Name": "sls-pp-kitchen-dev-RegistrarLambdaFunctionQualifiedArn"
            }
          },
          "CompletarLambdaFunctionQualifiedArn": {
            "Description": "Current Lambda function version",
            "Value": {
              "Ref": "CompletarLambdaVersionmgcfpUizG70Y313567fMvRRa6fw6jHKbjL3wTGlZmPE"
            },
            "Export": {
              "Name": "sls-pp-kitchen-dev-CompletarLambdaFunctionQualifiedArn"
            }
          },
          "ListarPendientesLambdaFunctionQualifiedArn": {
            "Description": "Current Lambda function version",
            "Value": {
              "Ref": "ListarPendientesLambdaVersionctioJh8blDN71WfN5OEs1s3bUWxgb1wsyeEVR8S0soY"
            },
            "Export": {
              "Name": "sls-pp-kitchen-dev-ListarPendientesLambdaFunctionQualifiedArn"
            }
          },
          "EmitirStepCompletedLambdaFunctionQualifiedArn": {
            "Description": "Current Lambda function version",
            "Value": {
              "Ref": "EmitirStepCompletedLambdaVersionBnsq6xJl2qZbm8nbZaMxq8eIvTgE6BxnrMus8GAZls"
            },
            "Export": {
              "Name": "sls-pp-kitchen-dev-EmitirStepCompletedLambdaFunctionQualifiedArn"
            }
          },
          "IniciarWorkflowLambdaFunctionQualifiedArn": {
            "Description": "Current Lambda function version",
            "Value": {
              "Ref": "IniciarWorkflowLambdaVersionb7RbrIUX0tFMRTvDDVxVJcufK0war3ngTxF8mxbbU"
            },
            "Export": {
              "Name": "sls-pp-kitchen-dev-IniciarWorkflowLambdaFunctionQualifiedArn"
            }
          },
          "PpDashkitchenDashsmArn": {
            "Description": "Current StateMachine Arn",
            "Value": {
              "Ref": "PpDashkitchenDashsm"
            },
            "Export": {
              "Name": "sls-pp-kitchen-dev-PpDashkitchenDashsmArn"
            }
          },
          "ServiceEndpoint": {
            "Description": "URL of the service endpoint",
            "Value": {
              "Fn::Join": [
                "",
                [
                  "https://",
                  {
                    "Ref": "ApiGatewayRestApi"
                  },
                  ".execute-api.",
                  {
                    "Ref": "AWS::Region"
                  },
                  ".",
                  {
                    "Ref": "AWS::URLSuffix"
                  },
                  "/dev"
                ]
              ]
            },
            "Export": {
              "Name": "sls-pp-kitchen-dev-ServiceEndpoint"
            }
          }
        }
      },
      "vpc": {}
    },
    "custom": {
      "stateMachineName": "pp-kitchen-sm"
    },
    "plugins": [
      "serverless-step-functions"
    ],
    "pluginsData": {},
    "functions": {
      "registrar": {
        "handler": "functions/registrar.handler",
        "events": [],
        "name": "pp-kitchen-dev-registrar",
        "package": {},
        "memory": 1024,
        "timeout": 6,
        "runtime": "python3.12",
        "vpc": {},
        "versionLogicalId": "RegistrarLambdaVersionXOH6uqb1eouZY7t2KroDSQOLQpOJTlPKFyfo0AJK0"
      },
      "completar": {
        "handler": "functions/completar.handler",
        "events": [
          {
            "http": {
              "path": "tasks/completar",
              "method": "post",
              "cors": {
                "origin": "*",
                "methods": [
                  "OPTIONS",
                  "POST"
                ],
                "headers": [
                  "Content-Type",
                  "X-Amz-Date",
                  "Authorization",
                  "X-Api-Key",
                  "X-Amz-Security-Token",
                  "X-Amz-User-Agent",
                  "X-Amzn-Trace-Id"
                ],
                "allowCredentials": false
              },
              "integration": "AWS_PROXY"
            }
          }
        ],
        "name": "pp-kitchen-dev-completar",
        "package": {},
        "memory": 1024,
        "timeout": 6,
        "runtime": "python3.12",
        "vpc": {},
        "versionLogicalId": "CompletarLambdaVersionmgcfpUizG70Y313567fMvRRa6fw6jHKbjL3wTGlZmPE"
      },
      "listarPendientes": {
        "handler": "functions/listar_pendientes.handler",
        "events": [
          {
            "http": {
              "path": "tasks/pendientes",
              "method": "get",
              "cors": {
                "origin": "*",
                "methods": [
                  "OPTIONS",
                  "GET"
                ],
                "headers": [
                  "Content-Type",
                  "X-Amz-Date",
                  "Authorization",
                  "X-Api-Key",
                  "X-Amz-Security-Token",
                  "X-Amz-User-Agent",
                  "X-Amzn-Trace-Id"
                ],
                "allowCredentials": false
              },
              "integration": "AWS_PROXY"
            }
          }
        ],
        "name": "pp-kitchen-dev-listarPendientes",
        "package": {},
        "memory": 1024,
        "timeout": 6,
        "runtime": "python3.12",
        "vpc": {},
        "versionLogicalId": "ListarPendientesLambdaVersionctioJh8blDN71WfN5OEs1s3bUWxgb1wsyeEVR8S0soY"
      },
      "emitirStepCompleted": {
        "handler": "functions/emitir_step_completed.handler",
        "events": [],
        "name": "pp-kitchen-dev-emitirStepCompleted",
        "package": {},
        "memory": 1024,
        "timeout": 6,
        "runtime": "python3.12",
        "vpc": {},
        "versionLogicalId": "EmitirStepCompletedLambdaVersionBnsq6xJl2qZbm8nbZaMxq8eIvTgE6BxnrMus8GAZls"
      },
      "iniciarWorkflow": {
        "handler": "functions/iniciar_workflow.handler",
        "environment": {
          "STATE_MACHINE_ARN": {
            "$ref": "$[\"service\"][\"provider\"][\"compiledCloudFormationTemplate\"][\"Resources\"][\"IniciarWorkflowLambdaFunction\"][\"Properties\"][\"Environment\"][\"Variables\"][\"STATE_MACHINE_ARN\"]"
          }
        },
        "events": [],
        "name": "pp-kitchen-dev-iniciarWorkflow",
        "package": {},
        "memory": 1024,
        "timeout": 6,
        "runtime": "python3.12",
        "vpc": {},
        "versionLogicalId": "IniciarWorkflowLambdaVersionb7RbrIUX0tFMRTvDDVxVJcufK0war3ngTxF8mxbbU"
      }
    },
    "resources": {
      "Resources": {
        "TasksTable": {
          "Type": "AWS::DynamoDB::Table",
          "Properties": {
            "TableName": "pp-tasks",
            "BillingMode": "PAY_PER_REQUEST",
            "AttributeDefinitions": [
              {
                "AttributeName": "orderId",
                "AttributeType": "S"
              },
              {
                "AttributeName": "estado",
                "AttributeType": "S"
              }
            ],
            "KeySchema": [
              {
                "AttributeName": "orderId",
                "KeyType": "HASH"
              },
              {
                "AttributeName": "estado",
                "KeyType": "RANGE"
              }
            ]
          }
        },
        "KitchenSMParam": {
          "Type": "AWS::SSM::Parameter",
          "Properties": {
            "Name": "/pp/kitchen-sm-arn",
            "Type": "String",
            "Value": {
              "Fn::Sub": "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:pp-kitchen-sm"
            }
          }
        },
        "OrderCreatedRule": {
          "Type": "AWS::Events::Rule",
          "Properties": {
            "Name": "pp-kitchen-order-created-rule",
            "EventBusName": "pp-bus",
            "EventPattern": {
              "source": [
                "pp.orders"
              ],
              "detail-type": [
                "order.created"
              ]
            },
            "State": "ENABLED",
            "Targets": [
              {
                "Id": "IniciarWorkflowTarget",
                "Arn": {
                  "Fn::GetAtt": [
                    "IniciarWorkflowLambdaFunction",
                    "Arn"
                  ]
                }
              }
            ]
          }
        },
        "OrderCreatedRulePermission": {
          "Type": "AWS::Lambda::Permission",
          "Properties": {
            "FunctionName": {
              "Fn::GetAtt": [
                "IniciarWorkflowLambdaFunction",
                "Arn"
              ]
            },
            "Action": "lambda:InvokeFunction",
            "Principal": "events.amazonaws.com",
            "SourceArn": {
              "Fn::GetAtt": [
                "OrderCreatedRule",
                "Arn"
              ]
            }
          }
        }
      },
      "Outputs": {}
    },
    "configValidationMode": "warn",
    "serviceFilename": "serverless",
    "initialServerlessConfig": {
      "service": "pp-kitchen",
      "provider": {
        "$ref": "$[\"service\"][\"provider\"]"
      },
      "plugins": {
        "$ref": "$[\"service\"][\"plugins\"]"
      },
      "custom": {
        "$ref": "$[\"service\"][\"custom\"]"
      },
      "functions": {
        "$ref": "$[\"service\"][\"functions\"]"
      },
      "stepFunctions": {
        "stateMachines": {
          "kitchenWorkflow": {
            "name": "pp-kitchen-sm",
            "role": "arn:aws:iam::048311469334:role/LabRole",
            "definition": {
              "Comment": "pp-kitchen v3 — workflow enriquecido con Choice, Parallel, Wait, Retry, Catch",
              "StartAt": "ValidarPedido",
              "States": {
                "ValidarPedido": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.orderId",
                      "IsPresent": true,
                      "Next": "RegistrarRecepcion"
                    }
                  ],
                  "Default": "PedidoInvalido"
                },
                "PedidoInvalido": {
                  "Type": "Fail",
                  "Error": "PedidoInvalido",
                  "Cause": "El pedido no tiene orderId"
                },
                "RegistrarRecepcion": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${e2a6470b743c3ecee83b984ab90412c9}",
                    "Payload": {
                      "orderId.$": "$.orderId",
                      "tenantId.$": "$.tenantId",
                      "estado": "RECIBIDO"
                    }
                  },
                  "Retry": [
                    {
                      "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException"
                      ],
                      "IntervalSeconds": 2,
                      "MaxAttempts": 3,
                      "BackoffRate": 2
                    }
                  ],
                  "Catch": [
                    {
                      "ErrorEquals": [
                        "States.ALL"
                      ],
                      "Next": "ErrorGeneral",
                      "ResultPath": "$.error"
                    }
                  ],
                  "Next": "PreparacionParalela",
                  "ResultPath": null
                },
                "PreparacionParalela": {
                  "Type": "Parallel",
                  "Branches": [
                    {
                      "StartAt": "NotificarCocina",
                      "States": {
                        "NotificarCocina": {
                          "Type": "Wait",
                          "Seconds": 2,
                          "Next": "CocinaLista"
                        },
                        "CocinaLista": {
                          "Type": "Pass",
                          "Result": {
                            "preparacion": "cocina_lista"
                          },
                          "End": true
                        }
                      }
                    },
                    {
                      "StartAt": "NotificarAlmacen",
                      "States": {
                        "NotificarAlmacen": {
                          "Type": "Wait",
                          "Seconds": 1,
                          "Next": "AlmacenListo"
                        },
                        "AlmacenListo": {
                          "Type": "Pass",
                          "Result": {
                            "preparacion": "almacen_listo"
                          },
                          "End": true
                        }
                      }
                    }
                  ],
                  "Next": "EN_COCINA",
                  "ResultPath": null
                },
                "EN_COCINA": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
                  "Parameters": {
                    "FunctionName": "${d017b02987a60784aa244e16617956a7}",
                    "Payload": {
                      "orderId.$": "$.orderId",
                      "tenantId.$": "$.tenantId",
                      "estado": "EN_COCINA",
                      "workerId.$": "$.workerId",
                      "taskToken.$": "$$.Task.Token"
                    }
                  },
                  "Retry": [
                    {
                      "ErrorEquals": [
                        "Lambda.ServiceException"
                      ],
                      "IntervalSeconds": 2,
                      "MaxAttempts": 2,
                      "BackoffRate": 2
                    }
                  ],
                  "Catch": [
                    {
                      "ErrorEquals": [
                        "States.HeartbeatTimeout"
                      ],
                      "Next": "TimeoutCocina",
                      "ResultPath": "$.error"
                    },
                    {
                      "ErrorEquals": [
                        "States.ALL"
                      ],
                      "Next": "ErrorGeneral",
                      "ResultPath": "$.error"
                    }
                  ],
                  "HeartbeatSeconds": 3600,
                  "Next": "EmitirCocinaCompleta",
                  "ResultPath": null
                },
                "TimeoutCocina": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${e2a6470b743c3ecee83b984ab90412c9}",
                    "Payload": {
                      "orderId.$": "$.orderId",
                      "tenantId.$": "$.tenantId",
                      "estado": "TIMEOUT_COCINA"
                    }
                  },
                  "Next": "EN_COCINA",
                  "ResultPath": null
                },
                "EmitirCocinaCompleta": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${e2a6470b743c3ecee83b984ab90412c9}",
                    "Payload": {
                      "orderId.$": "$.orderId",
                      "tenantId.$": "$.tenantId",
                      "estado": "EN_COCINA"
                    }
                  },
                  "Retry": [
                    {
                      "ErrorEquals": [
                        "States.ALL"
                      ],
                      "IntervalSeconds": 2,
                      "MaxAttempts": 3,
                      "BackoffRate": 2
                    }
                  ],
                  "Catch": [
                    {
                      "ErrorEquals": [
                        "States.ALL"
                      ],
                      "Next": "ErrorGeneral",
                      "ResultPath": "$.error"
                    }
                  ],
                  "Next": "VerificarStockDespacho",
                  "ResultPath": null
                },
                "VerificarStockDespacho": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.workerId",
                      "IsPresent": true,
                      "Next": "EN_DESPACHO"
                    }
                  ],
                  "Default": "AsignarWorkerDefault"
                },
                "AsignarWorkerDefault": {
                  "Type": "Pass",
                  "Result": {
                    "workerId": "worker-default"
                  },
                  "ResultPath": "$.workerAsignado",
                  "Next": "EN_DESPACHO"
                },
                "EN_DESPACHO": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
                  "Parameters": {
                    "FunctionName": "${d017b02987a60784aa244e16617956a7}",
                    "Payload": {
                      "orderId.$": "$.orderId",
                      "tenantId.$": "$.tenantId",
                      "estado": "EN_DESPACHO",
                      "workerId.$": "$.workerId",
                      "taskToken.$": "$$.Task.Token"
                    }
                  },
                  "Retry": [
                    {
                      "ErrorEquals": [
                        "Lambda.ServiceException"
                      ],
                      "IntervalSeconds": 2,
                      "MaxAttempts": 2,
                      "BackoffRate": 2
                    }
                  ],
                  "Catch": [
                    {
                      "ErrorEquals": [
                        "States.HeartbeatTimeout"
                      ],
                      "Next": "TimeoutDespacho",
                      "ResultPath": "$.error"
                    },
                    {
                      "ErrorEquals": [
                        "States.ALL"
                      ],
                      "Next": "ErrorGeneral",
                      "ResultPath": "$.error"
                    }
                  ],
                  "HeartbeatSeconds": 3600,
                  "Next": "EmitirDespachoCompleto",
                  "ResultPath": null
                },
                "TimeoutDespacho": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${e2a6470b743c3ecee83b984ab90412c9}",
                    "Payload": {
                      "orderId.$": "$.orderId",
                      "tenantId.$": "$.tenantId",
                      "estado": "TIMEOUT_DESPACHO"
                    }
                  },
                  "Next": "EN_DESPACHO",
                  "ResultPath": null
                },
                "EmitirDespachoCompleto": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${e2a6470b743c3ecee83b984ab90412c9}",
                    "Payload": {
                      "orderId.$": "$.orderId",
                      "tenantId.$": "$.tenantId",
                      "estado": "EN_DESPACHO"
                    }
                  },
                  "Retry": [
                    {
                      "ErrorEquals": [
                        "States.ALL"
                      ],
                      "IntervalSeconds": 2,
                      "MaxAttempts": 3,
                      "BackoffRate": 2
                    }
                  ],
                  "Catch": [
                    {
                      "ErrorEquals": [
                        "States.ALL"
                      ],
                      "Next": "ErrorGeneral",
                      "ResultPath": "$.error"
                    }
                  ],
                  "Next": "EN_REPARTO",
                  "ResultPath": null
                },
                "EN_REPARTO": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
                  "Parameters": {
                    "FunctionName": "${d017b02987a60784aa244e16617956a7}",
                    "Payload": {
                      "orderId.$": "$.orderId",
                      "tenantId.$": "$.tenantId",
                      "estado": "EN_REPARTO",
                      "workerId.$": "$.workerId",
                      "taskToken.$": "$$.Task.Token"
                    }
                  },
                  "Retry": [
                    {
                      "ErrorEquals": [
                        "Lambda.ServiceException"
                      ],
                      "IntervalSeconds": 2,
                      "MaxAttempts": 2,
                      "BackoffRate": 2
                    }
                  ],
                  "Catch": [
                    {
                      "ErrorEquals": [
                        "States.HeartbeatTimeout"
                      ],
                      "Next": "TimeoutReparto",
                      "ResultPath": "$.error"
                    },
                    {
                      "ErrorEquals": [
                        "States.ALL"
                      ],
                      "Next": "ErrorGeneral",
                      "ResultPath": "$.error"
                    }
                  ],
                  "HeartbeatSeconds": 7200,
                  "Next": "EmitirRepartoCompleto",
                  "ResultPath": null
                },
                "TimeoutReparto": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${e2a6470b743c3ecee83b984ab90412c9}",
                    "Payload": {
                      "orderId.$": "$.orderId",
                      "tenantId.$": "$.tenantId",
                      "estado": "TIMEOUT_REPARTO"
                    }
                  },
                  "Next": "EN_REPARTO",
                  "ResultPath": null
                },
                "EmitirRepartoCompleto": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${e2a6470b743c3ecee83b984ab90412c9}",
                    "Payload": {
                      "orderId.$": "$.orderId",
                      "tenantId.$": "$.tenantId",
                      "estado": "EN_REPARTO"
                    }
                  },
                  "Next": "FinalizarEntrega",
                  "ResultPath": null
                },
                "FinalizarEntrega": {
                  "Type": "Parallel",
                  "Branches": [
                    {
                      "StartAt": "RegistrarEntrega",
                      "States": {
                        "RegistrarEntrega": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::lambda:invoke",
                          "Parameters": {
                            "FunctionName": "${e2a6470b743c3ecee83b984ab90412c9}",
                            "Payload": {
                              "orderId.$": "$.orderId",
                              "tenantId.$": "$.tenantId",
                              "estado": "ENTREGADO"
                            }
                          },
                          "End": true,
                          "ResultPath": null
                        }
                      }
                    },
                    {
                      "StartAt": "EsperarConfirmacion",
                      "States": {
                        "EsperarConfirmacion": {
                          "Type": "Wait",
                          "Seconds": 3,
                          "Next": "EntregaConfirmada"
                        },
                        "EntregaConfirmada": {
                          "Type": "Pass",
                          "Result": {
                            "confirmacion": "ok"
                          },
                          "End": true
                        }
                      }
                    }
                  ],
                  "Next": "ENTREGADO",
                  "ResultPath": null
                },
                "ENTREGADO": {
                  "Type": "Succeed"
                },
                "ErrorGeneral": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${e2a6470b743c3ecee83b984ab90412c9}",
                    "Payload": {
                      "orderId.$": "$.orderId",
                      "tenantId.$": "$.tenantId",
                      "estado": "ERROR"
                    }
                  },
                  "Next": "FalloCritico",
                  "ResultPath": null
                },
                "FalloCritico": {
                  "Type": "Fail",
                  "Error": "ErrorCritico",
                  "Cause": "El workflow encontró un error irrecuperable"
                }
              }
            }
          }
        }
      },
      "resources": {
        "$ref": "$[\"service\"][\"resources\"]"
      }
    },
    "appId": null,
    "orgId": null,
    "layers": {},
    "stepFunctions": {
      "stateMachines": {
        "$ref": "$[\"service\"][\"initialServerlessConfig\"][\"stepFunctions\"][\"stateMachines\"]"
      },
      "activities": []
    },
    "artifact": "/home/ubuntu/pp-kitchen/.serverless/pp-kitchen.zip"
  },
  "package": {
    "artifactDirectoryName": "serverless/pp-kitchen/dev/1783622093614-2026-07-09T18:34:53.614Z",
    "artifact": "pp-kitchen.zip"
  }
}